#-----------------Application---------------------

APP_NAME = ""
APP_VERSION = ""


FILE_ALLOWED_TYPES = 
FILE_MAX_SIZE = 
FILE_DEFAULT_CHUNK_SIZE = 


#-----------------Authentication---------------------

SECRET_KEY=""
ALGORITHM=""
ACCESS_TOKEN_EXPIRE_MINUTES=


GOOGLE_CLIENT_ID = ""
GOOGLE_CLIENT_SECRET = ""
GOOGLE_REDIRECT_URI = ""


#-----------------PostgreSQL---------------------

POSTGRES_USERNAME = ""
POSTGRES_PASSWORD = ""
POSTGRES_HOST = ""
POSTGRES_PORT = 
POSTGRES_DATABASE = ""


# ================================= MCP Config =================================

MCP_SERVER_URL = ""

# ================================= LLM Config =================================


GENERATION_MODEL_LITERAL =

EMBEDDING_BACKEND = ""
GENERATION_BACKEND = ""

EMBEDDING_MODEL_NAME = ""

GENERATION_MODEL_NAME = ""
GROQ_API_KEY = ""

EMBEDDING_MODEL_SIZE = 
DEFAULT_INPUT_MAX_CHARACTERS = 
DEFAULT_OUTPUT_MAX_CHARACTERS = 
DEFAULT_GENERATION_TEMPERATURE =


# ================================= Vector DB Config =================================


VECTOR_DB_BACKEND_LITERAL =

VECTOR_DB_BACKEND = ""

VECTOR_DB_PATH = ""
VECTOR_DB_DISTANCE_METHOD = ""

VECTOR_DB_PGVEC_INDEX_THRESHOLD =

SPARSE_TEXT_EMBEDDING_MODEL_NAME = ""

# ================================= Vector DB Config =================================

VOICE_MODEL_PATH = ""
VOICE_BACKEND = ""